
<nav>
    <div class = 'container' id = 'nav-bar'>
        <div class = 'title'>
                <h1 id="title-text">VOLSTACK</h1>
        </div>
        <div class = 'menu'>
            <div class = 'icon'>
                <img src ='assets/ei_plus.png'>
            </div>
            <div class="icon">
                <img src ='assets/ei_navicon.png'>
            </div>
            <div class="icon">
                <img src ='assets/user.png'>
           
        </div>
         </div>
    </div>
</nav>
