<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Post</title>
    <link rel="stylesheet" href="styles/addpost.css">
    <link rel="stylesheet" href="styles/nav.css">
    
</head>
<nav>
    <div class = 'container' id = 'nav-bar'>
        <div class = 'title'>
                <h1 id="title-text">VOLSTACK</h1>
        </div>
        <div class = 'menu'>
            <a href="/newpost">
                <div class = 'icon' style="border-bottom: 3px dotted black;">
                    <img src ='assets/ei_plus.png'>
                </div>
            </a>
            <a href="/">
                <div class="icon">
                    <img src ='assets/ei_navicon.png'>
                </div>
            </a>
            <a href="/signup">
                <div class="icon">
                    <img src ='assets/user.png'>
                </div>
            </a>

         </div>
    </div>
</nav>
<body>
<form  action="/newpost" method="post">
<div class="form-parent">
    <div class="form-container">
        <h1>USERNAME</h1>
        <p style="font-size: .8em;">Just your name... yup</p>
        <input id="user-text" class='box' type="text" name="author">
    </div>
    <div class="form-container">
        <h1>VOLUME LOAD</h1>
        <p style="font-size: .8em;">Volume Load is calculated by SETS X REPS X WEIGHT. Do the math for each excersise, then tally it all up down below!</p>
        <input class='box' type="number" name="volumeLoad">
        <h3>LBS</h3>
    </div>
    <button type="submit" class="form-container">
        <h1>SUBMIT</h1>
    </button>
</div>
</form>
</body>
</html>