<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Post</title>
    <link rel="stylesheet" href="styles/betapage.css">
    <link rel="stylesheet" href="styles/nav.css">
    
</head>
<nav>
    <div class = 'container' id = 'nav-bar'>
        <div class = 'title'>
                <h1 id="title-text">VOLSTACK</h1>
        </div>
        <div class = 'menu'>
            <a href="/newpost">
                <div class = 'icon'>
                    <img src ='assets/ei_plus.png'>
                </div>
            </a>
            <a href="/">
                <div class="icon">
                    <img src ='assets/ei_navicon.png'>
                </div>
            </a>
            <a href="/signup">
                <div class="icon" style="border-bottom: 3px dotted black;">
                    <img src ='assets/user.png'>
                </div>
            </a>

         </div>
    </div>
</nav>
<body>
    <h1 class="main-text">Your information has been logged by the database, once this feature is ready, you can log in.</h1>
</body>
</html>