<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed</title>
    <link rel ='stylesheet' href = 'styles/main.css'>
    <link rel="stylesheet" href="styles/nav.css">
</head>
<nav>
    <div class = 'container' id = 'nav-bar'>
        <div class = 'title'>
                <h1 id="title-text">VOLSTACK</h1>
        </div>
        <div class = 'menu'>
            <a href="/newpost">
                <div class = 'icon'>
                    <img src ='assets/ei_plus.png'>
                </div>
            </a>
            
            <div class="icon" style="border-bottom: 3px dotted black;">
                <img src ='assets/ei_navicon.png'>
            </div>
            <div class="icon">
                <img src ='assets/user.png'>
           
        </div>
         </div>
    </div>
</nav>
<body>
<div class="post-container">
    <% for (let post of posts) { %>
        <a href="<%= post._id %>" class="edit-link">
            <div class = 'post'>
                <h2 class="post-title"><%= post.author %></h2>
                <p class="timestamp"><%= post.createdAt %></p>
                <h1 class="volume-load"><%= post.volumeLoad %> LBS</h1>
            </div>
        </a>
       
        <% } %>
</div>


</body>
</html>