<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel ='stylesheet' href = 'styles/normalize.css'>
    <link rel ='stylesheet' href = 'styles/skeleton.css'>
    <link rel ='stylesheet' href = 'styles/nav.css'>
</head>
<nav>
    <div class = 'container' id = 'nav-bar'>
        <div class = 'row'>
                <h1>VOLSTACK</h1>
        </div>
        <div class = 'row'>
            <div class = 'four columns'>
                <img src ='assets/ei_plus.png'>
            </div>
            <div class="four columns">
                <img src ='assets/ei_navicon.png'>
            </div>
            <div class="four columns">
                <img src ='assets/user.png'>
           
        </div>
         </div>
    </div>
</nav>
<body>
    <% for (let post of posts) { %>
<div>
    <%= post.author %>
    <h1>div</h1>
</div>
<% } %>

</body>
</html>