html {
    background: linear-gradient(#FDFFFF 21.35%, #FFA842 54.69%, #C51E32 90.63%);
    background-attachment: fixed;
}

#nav-bar {
    color: black;
    font-family: JetBrains Mono;
    font-style: bold;
}

#title {
    justify-content: center;
}

